<ion-content>
  <div class="card full flex">
    <div class="top full flex">
      <div class="degrade"></div>

      <div class="trianguloUp leftP"></div>
      <div class="trianguloUp rightP"></div>
    </div>
    
    <div class="content">
      <div class="mid horizontal centerA flex">
        <h3 class="line">Digite o e-mail do responsável</h3>

        <span class="line leftA">E-mail</span>
        <input [(ngModel)]="email" type="email" class="input" maxlength="100">
        <p id="erroDigitarResponsavel" class="aviso invisivel">{{erro}}<a id="erroEmailInexistente" class="aqui invisivel" (click)="criar()">aqui!</a></p>

        <button (click)="registrar()" class="important full flex"><span>Registrar</span></button>

        <button (click)="voltar()" class="normal full flex"><span>Voltar</span></button>
      </div>

      <div class="bot full flex">
        <img src="../../assets/IMG/Logo/Light (Cima).png" alt="Logo do aplicativo: MedicaMe">
      </div>
    </div>
  </div>
</ion-content>
