//#region Meio
.meio
{
    width: 80%;
    margin-left: 5%;

    .top
    {
        width: 20%;

        margin-top: calc((100vw / 5) + 20px);

        svg
        {
            background-color: var(--dark-space-cadet);
            width: 40px;

            border-radius: 50%;

            padding: 10px;

            fill: var(--white);
            
            transform: rotate(180deg);
        }
    }
}
//#endregion
