//#region Meio
.meio
{
    width: 100%;

    .top
    {
        width: 90%;
        margin-left: 5%;

        margin-top: calc((100vw / 5) + 20px);

        .bloco:nth-of-type(2)
        {
            width: calc(100% - 40px);
        }

        svg
        {
            background-color: var(--dark-space-cadet);
            width: 40px;

            border-radius: 50%;

            padding: 10px;

            fill: var(--white);
            
            transform: rotate(180deg);
        }

        h3
        {
            margin-left: 5%;
        }
    }

    .historico
    {
        margin-left: 5%;

        flex-direction: row;
        justify-content: left;

        margin-bottom: 40px;

        .conteudo
        {
            min-width: 45vw;
        }
    
        .linha
        {
            width: 90vw;
    
            margin-top: 40px;
        }
    
        .bloco
        {
            background-color: var(--lavander);
            min-width: 42vw;
            height: 130px;
    
            border-radius: 10px;
    
            margin-top: 20px;
            margin-right: 5vw;
    
            box-shadow: 0px 4px 4px rgb(122, 122, 165, 0.5);
    
            .bot:nth-of-type(1)
            {
                width: 100%;
                height: 80px;
    
                img
                {
                    height: 60%;
                }
            }
    
            .bot:nth-of-type(2)
            {
                background-color: var(--state-blue);
                width: 100%;
                height: 40px;
    
                margin-top: 10px;
    
                padding: 5px;
    
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
    
                h3
                {
                    color: var(--white);
                }
            }
        }
    }
}
//#endregion

//#region SemMedicamento
.semMedicamento
{
    height: 50vh;

    svg
    {
        width: 40%;
        fill: var(--lavander);

        margin-top: 10vh;
    }

    color: var(--space-cadet);
}
//#endregion
