<ion-content>
  <div class="nav vertical flex">
    <img src="../../../assets/IMG/Logo/Light (Simples).png" alt="Logo do aplicativo MedicaMe">
  </div>

  <div id="hisDep" class="dep vertical flex invisivel">
    <p>Dependente: {{nomeDependente}}</p>
    <p class="aviso sair" (click)="removDependente()">Voltar</p>
  </div>

  <div id="hisMeio" class="meio">
    <div class="top full flex">
      <svg viewBox="0 0 24 24" class="svg" (click)="voltar()">
        <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/>
      </svg>
    </div>

    <div class="content line full flex">
      <div *ngFor="let l of lista">
        <h3 *ngIf="l.Letra != null" class="leftA">{{l.Letra}}</h3>

        <div class="bloco full flex">
          <div class="bot full flex">
            <img src="../../../assets/IMG/Icon/{{l.FormaFarma}}.png">
          </div>

          <div class="bot full flex">
            <h3>{{l.Nome}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
