/*#region Root*/
:root
{
    --dark-space-cadet: #17173B;
    --space-cadet: #342F4C;
    --state-blue: #6063CC;
    --baby-blue: #B2CAFF;
    --lavander: #E2E2F9;
    --white: #F8F0FF;
    --red: #E03654;
    --yellow: #FACC22;
}

::selection
{
    background-color: var(--dark-space-cadet);
    color: var(--white);
}

h3
{
    font-family: 'Saira Bold';
    font-size: 1.3em;
    color: var(--dark-space-cadet);
}

p
{
    font-family: 'Roboto';
}

a
{
    font-family: 'Roboto';
    color: var(--red);
}

p, h1, h2, h3, h4, h5, h6, span, a
{
    margin: 0;
}
/*#endregion*/

/*#region Fontes*/
 @font-face {
    font-family: 'Saira';
    src: url(../src/assets/FONT/Saira.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Italic';
    src: url(../src/assets/FONT/Saira-Italic.ttf);
    font-weight: normal;
    font-style: normal;
 }
@font-face {
   font-family: 'Saira Bold';
   src: url(../src/assets/FONT/Saira-Bold.ttf);
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../src/assets/FONT/Roboto.ttf);
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: 'Roboto Light';
    src: url(../src/assets/FONT/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal;
 }
/*#endregion*/

 /*#region Flex e Line*/
 .flex
 {
    display: flex;
    flex-wrap: wrap;
 }

 .full
 {
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .horizontal
 {
     justify-content: center;
 }

 .vertical
 {
     align-items: center;
 }

 .line
{
    width: 100%;
}

.centraliza
{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 200;
}
 /*#endregion*/

 /*#region Posições*/
.leftA
{
    text-align: left;
}
.leftP
{
    left: -50%;
}

.centerA
{
    text-align: center;
}

.rightA
{
    text-align: right;
}
.rightP
{
    right: -50%;
}
 /*#endregion*/

 /*#region Off*/
.invisivel
{
    display: none;
}
/*#endregion*/

 /*#region Botão*/
button
{
    width: 100%;
    height: 45px;

    font-family: 'Saira';
    font-size: 1em;

    outline: none;

    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(122, 122, 165, 0.5);
}

.button
{
    width: calc(100vw / 5);
    height: calc(100vw / 5);

    padding: 5px;

    font-size: 0.7em;
}

.important
{
    background-color: var(--yellow);
    color: var(--dark-space-cadet) !important;

    span
    {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        color: var(--dark-space-cadet) !important;
    }
}

.normal
{
    background-color: var(--state-blue);    
    color: var(--white) !important;

    span
    {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        color: var(--white) !important;
    }
}

.danger
{
    background-color: var(--red);
    color: var(--white) !important;
}
/*#endregion*/

/*#region Input*/
.input
{
    background-color: var(--white);
    width: 100%;
    height: 40px;

    margin: 0;

    padding-left: 6px;

    border: none;
    border-radius: 4px;
    box-sizing: border-box;

    font-family: 'Saira';
    color: var(--dark-space-cadet);
}

.aviso
{
    font-family: 'Saira Italic';
    color: var(--red) !important;
}
/*#endregion*/

 /*#region Card*/
 .card
 {
    background-color: var(--dark-space-cadet);
    width: 100%;
    min-height: 100vh;

    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;

    box-sizing: border-box;
 }
 /*#endregion*/

 /*#region Triângulo*/
 .trianguloUp
{
    width: 0;
    height: 0;

    border-left-color: transparent;
    border-left-style: solid;
    border-right-color: transparent;
    border-right-style: solid;
    border-bottom-color: var(--dark-space-cadet);
    border-bottom-style: solid;
}
/*#endregion*/

/*#region Fundo*/
#back
{
    height: 100vh;

    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 100;
}
/*#endregion*/

/*#region Alerta*/
.alert
{
    background-color: var(--white);
    width: 90vw;

    padding-bottom: 20px;

    overflow: hidden;

    border-radius: 20px;

    z-index: 200;

    .top
    {
        background-color: var(--dark-space-cadet);
        min-height: 8vh;

        overflow: hidden;
        
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        font-size: 1.6em;
        font-family: 'Saira Bold';
    }

    .content
    {
        width: 90%;
        margin-top: 20px;
        margin-left: 5%;

        color: var(--space-cadet);
        font-size: 1.4em;

        button
        {
            margin-top: 20px;
        }
    }
}

//#region Animações - Alerta
.InAlerta
{
    opacity: 1 !important;

    transition: opacity 0.5s;
}

.OutAlerta
{
    opacity: 0 !important;

    transition: opacity 0.3s;
}
//#endregion
/*#endregion*/

/*#region NavBar*/
.nav
{
    background-color: var(--dark-space-cadet);
    width: 100vw;
    height: calc(100vw / 5);

    position: fixed;
    top: 0px;

    justify-content: space-between;

    padding-left: 5px;

    img
    {
        width: 50%;
        margin-left: 5px;
    }
    
    .button svg
    {
        fill: var(--white);
        width: 50%;
    }
}

.dep
{
    background-color: var(--dark-space-cadet);
    width: 100vw;
    height: 35px;

    position: fixed;
    top: calc(100vw / 5);
    left: 0px;

    padding: 0px 0px 0px 10px;

    border-width: 5px 0px 0px 0px;
    border-color: var(--white);
    border-style: solid;
}

.depMeio
{
    margin-top: calc((100vw / 5) + 50px) !important;
}

.menu
{
    background-color: transparent;
    width: 100vw;
    height: 110vh;

    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 10;

    #back
    {
        width: 30vw;
    }

    .content
    {
        background-color: var(--white);
        width: calc(70vw + 1px);
        height: 100vh;

        position: absolute;
        top: 0px;
        right: -70vw;

        .top
        {
            background-color: var(--dark-space-cadet);
            width: 100%;
            height: 13vh;

            padding: 0px 30px 0px 30px;
            box-sizing: border-box;

            h3
            {
                color: var(--white);
            }

            .button
            {
                width: 50px;
                margin-left: auto;

                svg
                {
                    fill: var(--white);
                    width: 100%;
                }
            }
        }

        .mid
        {
            .itens
            {
                height: calc(100vw / 5);
    
                border-top-color: var(--lavander);
                border-top-style: solid;
                border-top-width: 2px;
            }

            .itens h3
            {
                color: var(--dark-space-cadet);
                font-family: 'Roboto';
                font-size: 1em;
            }

            .button
            {
                width: calc(80vw / 5);
                height: calc(80vw / 5);
            }

            .button svg
            {
                fill: var(--state-blue);
                width: 60%;
            }
        }
    }
}

//#region Animações - Menu (Fundo)
.InFundo
{
    background-color: rgba(52, 47, 76, 0.5);

    transition: background-color 0.5s;
}

.OutFundo
{
    background-color: transparent;

    transition: background-color 0.3s;
}
//#endregion

//#region Animações - Menu (Content)
.InMenu
{
    right: 0px !important;

    transition: right 0.5s;
}

.OutMenu
{
    right: -70vw;

    transition: right 0.3s;
}
//#endregion
/*#endregion*/

/*#region Tabs*/
.tabs
{
    background-color: var(--dark-space-cadet);
    width: 100vw;
    height: calc(100vw / 5);

    position: fixed;
    bottom: 0px;

    font-size: 1em;

    p
    {
        color: var(--white);
    }

    .flex
    {
        flex-direction: column;
    }    

    .button svg
    {
        fill: var(--white);
        width: 40%;
        margin-bottom: 10px;
    }

    .middle
    {
        padding: 0px;

        p
        {
            position: relative;
            top: calc((-100vw / 5) / 2);

            color: var(--baby-blue);
        }
    }
    
    .button .principal
    {
        background-color: var(--baby-blue);
        width: calc(100vw / 5);
        height: calc(100vw / 5);

        position: relative;
        top: calc((-100vw / 5) / 2);

        margin-bottom: 3px;

        border-color: var(--dark-space-cadet);
        border-style: solid;
        border-radius: 100%;
        border-width: 4px;

        svg
        {
            fill: var(--dark-space-cadet);
            width: 55%;
    
            margin: 0px;
        }
    }
}
/*#endregion*/

 /*#region Ionic*/

 /*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/*#endregion*/
