<ion-content>
  <div class="card horizontal flex">
    <div class="top full flex">
      <div class="degrade"></div>

      <div class="trianguloUp leftP"></div>
      <div class="trianguloUp rightP"></div>
    </div>

    <div class="content">
      <div class="mid horizontal centerA flex">
        <h3 class="line">Dados adicionais</h3>

        <span class="line leftA">Nome</span>
        <input [(ngModel)]="nome" type="text" class="input">

        <span class="line leftA">Data de nascimento</span>
        <div class="data input">
          <ion-item class="input">
            <ion-datetime [(ngModel)]="data" displayFormat="DD/MM/YYYY" min="{{minimo}}" max="{{maximo}}"></ion-datetime>
          </ion-item>
        </div>

        <p id="erroDadosAdicionais" class="aviso invisivel">Preencha todos os campos!</p>

        <button (click)="adicionar()" class="important">Adicionar</button>
        <button (click)="continuar()" class="normal">Deixar para depois</button>
      </div>

      <div class="bot full flex">
        <img src="../../assets/IMG/Logo/Light (Lado).png" alt="Logo do aplicativo: MedicaMe">
      </div>
    </div>
  </div>
</ion-content>
