<ion-content>
  <div class="card horizontal flex">
    <div class="top full flex">
      <div class="degrade"></div>

      <div class="trianguloUp leftP"></div>
      <div class="trianguloUp rightP"></div>
    </div>

    <div class="content">
      <div class="mid horizontal centerA flex">
        <h3 class="line">Dados adicionais</h3>

        <span class="line leftA">Nome</span>
        <input [(ngModel)]="nome" type="text" class="input" maxlength="100">

        <span class="line leftA">Data de nascimento</span>
        <input [(ngModel)]="data" type="date" class="input" min="{{minimo}}" max="{{maximo}}">

        <p id="erroDadosAdicionais" class="aviso invisivel">Preencha todos os campos!</p>

        <button (click)="adicionar()" class="important full flex"><span (click)="adicionar()">Adicionar</span></button>
      </div>

      <div class="bot full flex">
        <img src="../../assets/IMG/Logo/Light (Lado).png" alt="Logo do aplicativo: MedicaMe">
      </div>
    </div>
  </div>
</ion-content>
