/*#region Geral*/
.card
{
    padding-top: 0px;
}

.content
{
    margin-top: 33vh;
    overflow: hidden;

    z-index: 20;
}

.important:active div, .normal:active div
{
    width: 80%;
}
/*#endregion*/

/*#region Top*/
.top
{    
    background-image: url(../../assets/IMG/Telas/Dados-Adicionais.jpg);
    background-color: var(--baby-blue);
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 35vh;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 2;

    img
    {
        height: 100%;
    }

    .degrade
    {
        background-image: linear-gradient(0deg, var(--dark-space-cadet), rgba(23, 23, 59, 0.8), rgba(96, 99, 204, 0.5), rgba(255, 255, 255, 0.1));
        width: 100%;
        height: calc(35vh);

        position: absolute;
        top: 0;
        left: 0;

        z-index: 3;
    }

    .trianguloUp
    {
        position: absolute;
        top: 1px;

        border-left-width: calc(50vw + 1px);
        border-right-width: calc(50vw + 1px);
        border-bottom-width: calc(35vh + 1px);

        z-index: 1000;
    }
}
/*#endregion*/

/*#region Middle*/
.mid
{
    width: 80vw;

    padding-bottom: 5px;

    overflow: hidden;

    .data
    {
        padding-left: 0px !important;
    }

    span, p
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    button:nth-of-type(1)
    {
        margin-top: 30px;
    }

    span, h3
    {
        color: var(--white);
    }

    button
    {
        position: initial;
    }
}
/*#endregion*/

/*#region Bottom*/
.bot
{
    width: 80vw;
    overflow: hidden;

    img
    {
        width: 90%;
        margin-top: 30px;
    }
}
/*#endregion*/
