/*#region Mid Geral*/
.meio
{
    width: 90%;

    margin-top: calc((100vw / 5) + 20px);
    margin-left: 5%;

    color: var(--dark-space-cadet);

    .content
    {
        margin-bottom: calc((100vw / 5) + ((100vw / 5) / 2) + 10px);
    }
}
/*#endregion*/

/*#region Medicamentos - Geral*/
.medicamentos
{
    width: 100%;
    height: 85px;

    padding: 10px;
    margin: 10px 0px 20px 0px;

    border-radius: 15px;

    box-sizing: border-box;

    img
    {
        width: 50px;
        height: 50px;
        margin: 0px 10px 0px 10px;
    }

    .text
    {
        height: 100%;

        margin: 0px 0px 0px 10px;
    }

    h3
    {
        color: var(--dark-space-cadet);
        font-family: 'Saira';
    }

    p
    {
        color: var(--space-cadet);
    }
}
/*#endregion*/

/*#region Medicamentos - Pedente*/
.pendente
{
    h3
    {
        color: var(--red);
    }

    .medicamentos
    {
        border-color: var(--red);
        border-style: solid;
        border-width: 2px;

        color: var(--dark-space-cadet);

        animation-name: pendente;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    svg
    {
        height: 40px;
    }

    .tomei
    {
        fill: var(--state-blue);

        margin-left: auto;
    }

    .nao-tomei
    {
        fill: var(--red);

        margin-left: 10px;
    }
}

@keyframes pendente
{
    0%{transform: rotate(0deg);}
    75%{transform: rotate(0deg);}
    80%{transform: rotate(-2deg);}
    85%{transform: rotate(2deg);}
    90%{transform: rotate(-2deg);}
    95%{transform: rotate(2deg);}
    100%{transform: rotate(0deg);}
}
/*#endregion*/

/*#region Medicamentos - Próximo*/
.proximo .medicamentos
{
    background-color: var(--lavander);
}
/*#endregion*/

//#region Medicamentos - Sem Medicamentos
.naoTem
{
    height: 50vh;

    svg
    {
        width: 40%;
        fill: var(--lavander);

        margin-top: 10vh;
    }
}
//#endregion
