/*#region Geral*/
.card
{
    padding: 0px;
}
/*#endregion*/

/*#region Top*/
.top
{    
    background-image: url(../../assets/IMG/Telas/Dependente.jpg);
    background-color: var(--baby-blue);
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 50vh;

    position: relative;
    top: 0;
    left: 0;

    z-index: 2;

    img
    {
        height: 100%;
    }

    .degrade
    {
        background-image: linear-gradient(0deg, var(--dark-space-cadet), rgba(23, 23, 59, 0.8), rgba(96, 99, 204, 0.5), rgba(255, 255, 255, 0.1));
        width: 100%;
        height: 50vh;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 3;
    }

    .trianguloUp
    {
        position: absolute;
        top: 17vh;

        border-left-width: 50vw;
        border-right-width: 50vw;
        border-bottom-width: calc(35vh + 1px);

        z-index: 4;
    }
}
/*#endregion*/

/*#region Middle*/
.mid
{
    width: 85vw;
    height: 30vh;

    position: relative;
    top: -10vh;
    left: 7.5vw;

    z-index: 5;

    h3
    {
        color: var(--white);
        margin-bottom: 15px;
    }

    p
    {
        color: var(--white);
    }

    button
    {
        width: 100% !important;
        position: initial !important;
        margin-bottom: 20px;
    }
}
/*#endregion*/

/*#region Bottom*/
.bot
{
    width: 85vw;
    height: 20vh;

    position: relative;
    top: -5vh;
    left: 7.5vw;

    z-index: 5;

    img
    {
        height: 100%;
    }
}
/*#endregion*/
