<ion-content>
  <div class="card full flex">
    <div class="content">
      <div class="top full flex">
        <img src="../../assets/IMG/Logo/Light (Lado).png" alt="Logo do aplicativo: MedicaMe">
      </div>
      
      <div class="mid horizontal centerA flex">
        <h3 class="line">Preencha os campos para criar sua conta!</h3>

        <span class="line leftA">E-mail</span>
        <input [(ngModel)]="email" type="email" class="input">
        <p id="erroEmail" class="aviso invisivel">E-mail inválido, digite novamente!</p>

        <span class="line leftA">Senha</span>
        <input [(ngModel)]="senha" type="password" class="input">
        <p id="erroSenha" class="aviso invisivel">Senha muito pequena, digite no mínimo 5 caracteres!</p>

        <span class="line leftA">Confirmar senha</span>
        <input [(ngModel)]="confirmarSenha" type="password" class="input">
        <p id="erroCadastrar" class="aviso invisivel">{{erro}}</p>

        <button (click)="criar()" class="important">Criar</button>
        
        <p>Já possui uma conta? Faça <a (click)="entrar()">login!</a></p>
      </div>
    </div>
  </div>
</ion-content>
