/*#region Geral*/
.content
{
    overflow: hidden;
}

.important:active div
{
    width: 80%;
}
/*#endregion*/

/*#region Top*/
.top
{
    width: 80vw;
    overflow: hidden;

    img
    {
        width: 90%;
        margin-bottom: 30px;
    }
}
/*#endregion*/

/*#region Middle*/
.mid
{
    width: 80vw;
    overflow: hidden;

    span, p, button
    {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    span, h3, p
    {
        color: var(--white);
    }
}
/*#endregion*/
