/*#region Geral*/
.content
{
    overflow: hidden;
}
/*#endregion*/

/*#region Top*/
.top
{
    width: 80vw;
    overflow: hidden;

    border-bottom-color: var(--white);
    border-bottom-width: 3px;
    border-bottom-style: solid;

    h3
    {
        color: var(--white);

        margin-top: 20px;
        margin-bottom: 10px;
    }

    img
    {
        width: 80%;
    }
}
/*#endregion*/

/*#region Middle*/
.mid
{
    width: 80vw;
    padding-bottom: 10px;
    overflow: scroll;

    .bloco
    {
        width: 45%;
    }

    .bloco:nth-of-type(1), .bloco:nth-of-type(4)
    {
        margin-right: 10%;
    }

    .check
    {
        width: 45%;
        margin-top: 10px;
        margin-left: 55%;

        input
        {
            width: 15px;
            height: 15px;
        }

        p
        {
            margin-left: 10px;
        }
    }

    span, h3
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    button
    {
        margin-top: 20px;
    }

    span, h3
    {
        color: var(--white);
    }

    h3
    {
        border-bottom-color: var(--white);
        border-bottom-width: 3px;
        border-bottom-style: solid;

        line-height: 40px;

        margin-bottom: 20px;
    }

    .no
    {
        margin-bottom: 0px;
    }

    textarea
    {
        height: 80px;

        resize: none;
    }

    .important
    {
        position: inherit;

        span
        {
            position: relative;
            left: 13px;
        }
        
        svg
        {
            height: 20px;

            position: relative;
            right: -32%;

            border-radius: 10px;
            
            fill: var(--dark-space-cadet);
        }
    }

    .normal
    {
        box-sizing: border-box;

        span
        {
            position: relative;
            left: 15px;
        }

        svg
        {
            height: 20px;

            position: relative;
            left: -51%;

            border-radius: 10px;
                
            fill: var(--white);

            transform: rotate(180deg);
        }
    }

    .aviso
    {
        margin-top: 20px;
    }
}
/*#endregion*/

//#region Um e Dois
#um
{
    min-height: 74vh;

    padding-bottom: 5px;

    overflow: hidden;
}

#dois
{
    min-height: 80vh;

    padding-bottom: 5px;

    overflow: hidden;

    .check
    {
        p
        {
            color: var(--white) !important;
        }
    }

    .data
    {
        padding-left: 0px !important;
    }

    .horas
    {
        background-color: var(--state-blue);
        width: 100%;
        min-height: 20px;

        margin: 30px 0px 0px 0px;
        padding: 10px;

        border-radius: 10px;

        overflow: hidden;

        font-family: 'Saira';

        p
        {
            color: var(--white) !important;
        }
    }
}
//#endregion
