<ion-content>
  <div class="card full flex">
    <div class="content">
      <div class="top full flex">
        <img src="../../../assets/IMG/Logo/Light (Simples).png" alt="Logo do aplicativo: MedicaMe">
        <h3 class="line">{{titulo}}</h3>
      </div>
      
      <div class="mid full flex">
        <div id="um" class="full flex">
          <span class="line leftA">Nome do medicamento</span>
          <input [(ngModel)]="nomeMedicamento" type="text" class="input" maxlength="100">
  
          <span class="line leftA">Forma farmacêutica</span>
          <select [(ngModel)]="formaFarma" class="input">
            <option value="vazio"></option>
            <option *ngFor="let l of listaFarma" [ngValue]="l.Codigo">{{l.Nome}}</option>
          </select> 
  
          <span class="line leftA">Dosagem</span>
          <input [(ngModel)]="dosagem" type="number" class="input">
  
          <h3 class="line centerA">Observação</h3>
          <textarea [(ngModel)]="descricao" class="input" maxlength="300"></textarea>
          <p id="avisoUm" class="aviso invisivel">{{txtAvisoUm}}</p>

          <button (click)="proximo()" class="important full flex">
            <span>Próximo</span>
            <svg viewBox="0 0 24 24">
              <path d="M0 3.795l2.995-2.98 11.132 11.185-11.132 11.186-2.995-2.981 8.167-8.205-8.167-8.205zm18.04 8.205l-8.167 8.205 2.995 2.98 11.132-11.185-11.132-11.186-2.995 2.98 8.167 8.206z"/>
            </svg>
          </button>
          <button (click)="cancelar()" class="normal">Cancelar</button>
        </div>
  
        <div id="dois" class="full flex invisivel">
          <div class="bloco flex">
            <span class="line leftA">Data Inicial</span>
            <input type="date" [(ngModel)]="dataInicial" min="{{minimo}}" max="{{maximo}}" class="input">
          </div>

           <div class="bloco flex">
            <span class="line leftA">Quantidade de Dias</span>
            <input [(ngModel)]="dias" type="number" class="input">

            <input id="semData" type="checkbox" class="check"> <p>Sem Data</p>
          </div>

          <div class="bloco flex">
            <span class="line leftA">Vezes ao dia</span>
            <select [(ngModel)]="horas" class="input">
              <option value="vazio"></option>
              <option value="24">Uma vez</option>
              <option value="12">Duas vezes</option>
              <option value="8">Três vezes</option>
              <option value="4">Quatro vezes</option>
            </select> 
          </div>
          
          <div class="bloco flex">
            <span class="line leftA">Horário Inicial</span>
            <input [(ngModel)]="horario" type="time" class="input">
          </div>          
  
          <h3 class="line centerA no">Estoque</h3>
          <span class="line leftA">Quantidade atual</span>
          <input [(ngModel)]="quantidadeAtual" type="number" class="input">

          <span class="line leftA">Quantidade mínima (notificação)</span>
          <input [(ngModel)]="quantidadeMinima" type="number" class="input">

          <p id="avisoDois" class="aviso invisivel">{{txtAvisoDois}}</p>

          <button (click)="criar()" class="important">{{txtBotao}}</button>

          <button (click)="voltar()" class="normal full flex">
            <span>Voltar</span>
            <svg viewBox="0 0 24 24">
              <path d="M0 3.795l2.995-2.98 11.132 11.185-11.132 11.186-2.995-2.981 8.167-8.205-8.167-8.205zm18.04 8.205l-8.167 8.205 2.995 2.98 11.132-11.185-11.132-11.186-2.995 2.98 8.167 8.206z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
