/*#region Geral*/
.content
{
    overflow: hidden;
}
/*#endregion*/

/*#region Top*/
.top
{
    width: 80vw;
    overflow: hidden;

    img
    {
        width: 80%;
    }
}
/*#endregion*/

/*#region Middle*/
.mid
{
    width: 80vw;
    overflow: hidden;

    h3
    {
        color: var(--white);
    
        border-bottom-color: var(--white);
        border-bottom-width: 3px;
        border-bottom-style: solid;

        line-height: 40px;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    textarea
    {
        height: 200px;

        resize: none;
    }

    .aviso
    {
        margin-top: 20px;
    }

    button
    {
        position: initial !important;

        margin-top: 30px;
    }
}
/*#endregion*/
