<ion-content>
  <div class="card">
    <div class="top">
      <div class="degrade"></div>

      <div class="trianguloUp leftP"></div>
      <div class="trianguloUp rightP"></div>
    </div>
    
    <div class="mid centerA">
      <h3>Já possui uma conta?</h3>

      <button (click)="criarConta()" class="important full flex">
        <div></div>
        <span> Criar conta</span>
      </button>

      <button (click)="entrar()" class="normal full flex">
        <div></div>
        <span>Entrar</span>
      </button>
    </div>

    <div class="bot full flex">
      <img src="../../assets/IMG/Logo/Light (Cima).png" alt="Logo do aplicativo: MedicaMe">
    </div>
  </div>
</ion-content>
