/*#region Mid Geral*/
.meio
{
    width: 90%;
    margin-left: 5%;

    margin-top: calc((100vw / 5) + 20px);

    color: var(--dark-space-cadet);

    .content
    {
        margin-bottom: calc((100vw / 5) + ((100vw / 5) / 2) + 20px);;
    }
}

.visivel
{
    margin-top: calc((100vw / 5) + 60px);
}
/*#endregion*/
