/*#region Geral*/
.meio
{
    width: 90%;

    margin-top: calc((100vw / 5) + 20px);
    margin-left: 5%;

    color: var(--dark-space-cadet);

    .content
    {
        margin-bottom: calc((100vw / 5) + ((100vw / 5) / 2) + 20px);
    }
}

.visivel
{
    margin-top: calc((100vw / 5) + 60px);
}
/*#endregion*/

/*#region Meio*/
.buttons
{
    width: 90%;

    margin: 20px 0px 20px 5%;

    button
    {
        position: initial;
    }
}
/*#endregion*/

//#region Alerta
#dPeriodo
{
    background-color: var(--dark-space-cadet);

    .alert
    {
        width: 70vw;
        padding: 0px;
        opacity: 0;

        h3
        {
            font-size: 1em;
            color: var(--white) !important;
        }

        .content
        {
            margin: 15px;
            box-sizing: border-box;

            .bloco
            {
                width: 100%;

                flex-direction: column;
            }

            .bloco:nth-of-type(1)
            {
                margin-bottom: 5%;
            }

            .input
            {
                border-bottom: solid 3px var(--dark-space-cadet);
                margin-bottom: 10px;

                font-size: 1em;
            }

            .aviso
            {
                font-size: 0.7em;
            }

            .input, p
            {
                width: 100%;
                
                padding: 0px;

                outline: none;
            }
        }

        button:nth-of-type(1)
        {
            background-color: var(--yellow);
            width: 100%;

            border-radius: 0px;

            span
            {
                color: var(--dark-space-cadet);
                font-size: 1.3em;
            }
        }
    }
}
//#endregion

//#region Relatório
.relatorio
{
    background-color: var(--lavander);
    width: 100%;
    min-height: 85px;
    overflow: hidden;

    margin: 5px 0px 30px 0px;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgb(122, 122, 165, 0.5);

    padding: 20px;

    .bloco:nth-of-type(1)
    {
        width: 15%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bloco:nth-of-type(2)
    {
        width: 55%;

        margin-left: 10%;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;  
    }

    .bloco:nth-of-type(3)
    {
        width: 20%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    img
    {
        width: 100%;
    }

    h3
    {
        color: var(--dark-space-cadet);
        font-family: 'Saira Bold';
        font-size: 1.3em;

        margin-bottom: 5px;
    }

    p
    {
        color: var(--space-cadet);
        font-family: 'Roboto';
        text-align: justify;
    }
}
//#endregion
