/*#region Geral*/
.meio
{
    width: 90%;

    margin-top: calc((100vw / 5) + 20px);
    margin-left: 5%;

    color: var(--dark-space-cadet);

    transition: margin-top 1s;

    .content
    {
        margin-bottom: calc((100vw / 5) + ((100vw / 5) / 2) + 75px);
    }
}

.visivel
{
    margin-top: calc((100vw / 5) + 60px);
}
/*#endregion*/

/*#region Meio*/
.buttons
{
    width: 90%;

    margin: 20px 0px 20px 5%;

    button
    {
        position: initial;
    }

    button:nth-of-type(2)
    {
        background-color: var(--space-cadet);
        color: var(--white);

        margin-top: 20px;
    }
}
/*#endregion*/

//#region Alerta
#dPeriodo
{
    background-color: var(--dark-space-cadet);

    .alert
    {
        width: 70vw;
        padding: 0px;
        opacity: 0;

        h3
        {
            font-size: 1em;
            color: var(--white) !important;
        }

        .content
        {
            margin: 15px;
            box-sizing: border-box;

            .bloco
            {
                width: 100%;

                flex-direction: column;
            }

            .bloco:nth-of-type(1)
            {
                margin-bottom: 5%;
            }

            .input
            {
                border-bottom: solid 3px var(--dark-space-cadet);
                margin-bottom: 10px;

                font-size: 1em;
            }

            .aviso
            {
                font-size: 0.7em;
            }

            .input, p
            {
                width: 100%;
                
                padding: 0px;

                outline: none;
            }
        }

        button:nth-of-type(1)
        {
            background-color: var(--yellow);
            width: 100%;

            border-radius: 0px;

            span
            {
                color: var(--dark-space-cadet);
                font-size: 1.3em;
            }
        }
    }
}
//#endregion

//#region Relatório
.relatorio
{
    background-color: var(--lavander);
    width: 100%;
    min-height: 85px;
    overflow: hidden;

    margin: 5px 0px 30px 0px;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgb(122, 122, 165, 0.5);

    .bloco:nth-of-type(1)
    {
        width: 20%;
        height: 85px;

        margin-left: 5%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bloco:nth-of-type(2)
    {
        width: 50%;
        height: 85px;

        margin-left: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .bloco:nth-of-type(3)
    {
        width: 20%;
        height: 85px;

        display: flex;
        align-items: center;
        justify-content: center;

        .tomou
        {
            background-color: transparent;
            fill: var(--state-blue);
        }

        .naotomou
        {
            background-color: transparent;
            fill: var(--red);
        }
    }

    .bloco:nth-of-type(4)
    {
        width: 100%;
        height: 30px;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        p
        {
            color: var(--white);
        }
    }

    .tomou
    {
        background-color: var(--state-blue);
    }

    .naotomou
    {
        background-color: var(--red);
    }

    img
    {
        width: 70%;
    }

    h3
    {
        color: var(--dark-space-cadet);
        font-family: 'Saira Bold';
        font-size: 1.3em;

        margin-bottom: 5px;
    }

    p
    {
        color: var(--space-cadet);
        font-family: 'Roboto';
        text-align: justify;
    }

    svg
    {
        width: 55%;
    }
}

.sintomas
{
    padding: 15px;
}

.foila
{
    margin-top: 40vh;
    margin-bottom: 0px;
}
//#endregion

//#region SemMedicamento
.semMedicamento
{
    height: 50vh;

    svg
    {
        width: 40%;
        fill: var(--lavander);

        margin-top: 10vh;
    }
}
//#endregion
