<ion-content>
  <div class="card full flex">
    <div class="content">
      <div class="top full flex">
        <img src="../../assets/IMG/Logo/Light (Lado).png" alt="Logo do aplicativo: MedicaMe">
      </div>
      
      <div class="mid horizontal flex centerA">
        <h3 class="line">Preencha os campos para criar sua conta!</h3>

        <span class="line leftA">E-mail</span>
        <input [(ngModel)]="email" type="email" class="input">

        <span class="line leftA">Senha</span>
        <input [(ngModel)]="senha" type="password" class="input">
        
        <p id="erroEntrar" class="aviso invisivel">{{erro}}</p>

        <button (click)="entrar()" class="important full flex">
          <div></div>
          <span>Entrar</span>
        </button>
        
        <p>Não possui uma conta? <a (click)="cadastrar()">Cadastre-se!</a></p>
      </div>
    </div>
  </div>
</ion-content>
